@model List<EntityLayer.Domain.Category>
@{

}
<style>
    h1 {
        background: linear-gradient(43deg,#86C5D8 0%,#9C27B0 25%);
        -webkit-background-clip: text;
        color: transparent;
    }
</style>
@*creative tim tablo*@
<div class="bg-opacity-10 py-2 mx-5" style="background-color:aliceblue">
        <h1>Category List</h1>
</div>
<div class="card ">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">Id</th>
                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">Name</th>
                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">Icon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>
                            <p class="text-xs text-secondary mb-0  text-center">@category.Id</p>
                        </td>
                        <td>
                            <p class="text-xs text-secondary mb-0  text-center">@category.Name</p>
                        </td>
                        <td>
                            <p class="text-xs text-secondary mb-0 text-center">@category.Icon</p>
                        </td>

                        <td class="align-middle">
                            <a  *@ href="/AdminCategory/Edit?categoryId=@category.Id" class="btn btn-default mb-0 "><i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    //function edit(userId) {

    //    window.location.href = "/AdminUser/Edit?userId="+userId;
    //}

</script>
