@model Shopping.Web.Models.EditUserRequest
@{
}
<style>
    .container {
        margin-left: inherit;
    }

    h1 {
        background: linear-gradient(43deg,#86C5D8 0%,#9C27B0 25%);
        -webkit-background-clip: text;
        color: transparent;
    }

</style>

<div class="bg-opacity-10 py-2 mx-6" style="background-color:aliceblue">
    <h1>Edit User</h1>
</div>
<form class="mx-start needs-validation " novalidate>
    <div class="container mx-start">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">User Id</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3 ">
                    <input type="text" class="form-control" id="id" readonly asp-for="Id" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Name</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3 focused is-focused">
                    <input type="text" class="form-control" id="name" asp-for="Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Surname</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="surname" asp-for="Surname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Password</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="password" asp-for="Password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Username</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="userName" asp-for="Username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Status</span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <select class="form-control" id="isAdmin">
                        <option value="true">Admin</option>
                        <option value="false">User</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-end my-2 px-2 ">
            <button type="button" class="btn mx-2" id="update" style="background-color:#AA7FC6;color:white">Update</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#update").click(function () {
            if ($("#id").val() == "" || $("#name").val() == "" || $("#surname").val() == "" || $("#password").val() == "" || $("#userName").val() == "" || $("#isAdmin").val() == "") {
                notificationAlert("danger", "ERROR!!!", "Please make sure all fields are filled properly!!!")
            }

            else {
                var data =
                {
                    Id: $("#id").val(),
                    Name: $("#name").val(),
                    Surname: $("#surname").val(),
                    Password: $("#password").val(),
                    Username: $("#userName").val(),
                    IsAdmin: $("#isAdmin").val()
                };

                $.ajax({
                    url: '@Url.Action("EditUser","AdminUser")',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (json) {
                        window.location.href = "/Profile/Index/";
                    },
                    error: function (e) {

                    }
                });
            }
        });
       
    });
</script>

