@model Shopping.Web.Models.UserModel
@{
}
<style>
    .container {
        margin-left: inherit;
    }

    h1 {
        background: linear-gradient(43deg,#86C5D8 0%,#9C27B0 25%);
        -webkit-background-clip: text;
        color: transparent;
    }

   /* .input-group.input-group-outline.is-focused .form-label + .form-control, .input-group.input-group-outline.is-filled .form-label + .form-control {
        border-color: rgb(156,39,176) !important;
        border-top-color: transparent !important;
        box-shadow: inset 1px 0 rgb(156,39,176), inset -1px 0 rgb(156,39,176), inset 0 -1px rgb(156,39,176);
    }*/
    
</style>
<div class="bg-opacity-10 py-2 mx-6" style="background-color:aliceblue">
    <h1>Add Users</h1>
</div>

<form method="post" class="mx-start needs-validation " novalidate>
    <div class="container mx-start">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Name</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3 focused is-focused">
                    <input type="text" class="form-control" id="name" asp-for="Name" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Surname</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="surname" asp-for="Surname" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Password</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="password" asp-for="Password" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style="background-color:#334A78">Username</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="userName" asp-for="Username" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style="background-color:#334A78">Status</span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <select class="form-control" id="exampleFormControlSelect1" asp-for="IsAdmin">
                        <option value="true">Admin</option>
                        <option value="false">User</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-end my-2 px-2 ">
            <button type="submit" class="btn" id="add"style="background-color:#9C27B0;color:white"><i class="fa-solid fa-plus"></i> Add</button>
        </div>
        
    </div>
</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
