@{
    ViewData["Title"] = ViewBag.Title;
}
@model List<ProductModel>
<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-4 mt-4 mb-4" >
            <div class="card z-index-2 mt-4 mx-auto" style="height:550px; width:350px">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="shadow-primary">
                    @* <div class="chart">
                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                </div>*@
                    <img class="rounded-3" style="width: 100%;height:300px " src=@item.ImgLink />
                </div>
            </div>
            <div class="card-body text-center">
                <h6 class="mb-0 ">@item.Title</h6>
                <p class="text-sm "> <b>Category: </b>@item.Category.Name </p>
                <p class="text-sm truncate" style="height:45px;">@item.Description</p>
                    <h4 class="mb-0 ">@item.Price € </h4>
                <hr class="dark horizontal">
                <div class=" text-center mx-auto">
                    <div class="text-center">
                        <a class="btn bg-gradient-primary w-50 ">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>

