@model ProductModel


<div class="">

    <div class="z-index-3 text-end mx-4 " >
       
    </div>
    <div class="">
        <img class="rounded-3 " style="width: 45%;height:200px " src=@Model.ImgLink />
    </div>

</div>
<div class="">
    <h6 class="mb-0 mt-2 text-bold">@Model.Title</h6>
    <p class="text-sm mt-2 "> Description: @Model.Description</p>
    <h6 class="text-sm mt-2">Rating : @Model.Rating</h6>
    <h6 class="text-sm mt-2">Stock : @Model.Stock</h6>

    <hr class="dark horizontal">
    
</div>
