@model Shopping.Web.Models.ProductModel
@{
}

@{
    var categoryListStr = HttpContextAccessor.HttpContext.Session.GetString("CategoryList");
    var categoryList = string.IsNullOrEmpty(categoryListStr) ? new List<CategoryModel>() : JsonSerializer.Deserialize<List<CategoryModel>>(categoryListStr);
}
<div class="bg-opacity-10 py-2" style="background-color:aliceblue">
    <div class="container">
        <h1>Add Product</h1>
    </div>
</div>
<form method="post">
    <div class="container text-center">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Title</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="title" asp-for="Title">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Description</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="description" asp-for="Description">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Brand</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="brand" asp-for="Brand">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Price</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="price" asp-for="Price">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Rating</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="rating" asp-for="Rating">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Stock</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="stock" asp-for="Stock">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Image Link</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="imgLink" asp-for="ImgLink">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient-info">Category Name</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">

                    <select class="form-control" id="exampleFormControlSelect1" >
                        @foreach (var item in categoryList)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                      
                    </select>
                  
                </div>
                
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add</button>
        </div>
    </div>
</form>
