@model Shopping.Web.Models.ProductModel
@{
}
<style>
    .container {
        margin-left: inherit;
    }

    h1 {
        background: linear-gradient(43deg,#86C5D8 0%,#9C27B0 25%);
        -webkit-background-clip: text;
        color: transparent;
    }

</style>
@{
    var categoryListStr = HttpContextAccessor.HttpContext.Session.GetString("CategoryList");
    var categoryList = string.IsNullOrEmpty(categoryListStr) ? new List<CategoryModel>() : JsonSerializer.Deserialize<List<CategoryModel>>(categoryListStr);
}
<div class="bg-opacity-10 py-2 mx-6" style="background-color:aliceblue">
    <h1>Edit Product</h1>
</div>
<form class="mx-start needs-validation " novalidate>
    <div class="container mx-start">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient" style=" background-color:#334A78">Product Id</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="id" asp-for="Id" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Title</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="title" asp-for="Title" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Description</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="description" asp-for="Description">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Brand</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="brand" asp-for="Brand">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Price</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="number" class="form-control" id="price" asp-for="Price">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Rating</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="number"  class="form-control" id="rating" asp-for="Rating">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Stock</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="number" class="form-control" id="stock" asp-for="Stock">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Image Link</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <input type="text" class="form-control" id="imgLink" asp-for="ImgLink">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-outline my-4 justify-content-end">
                    <span class="badge bg-gradient " style=" background-color:#334A78">Category Name</span>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <select class="form-select" aria-label="Select a category" id="categoryId">
                    <option selected disabled>Select a category</option>
                    @foreach (var item in categoryList)
                    {
                        <option value=@item.Id style="background-color:#D0DAE2">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-8 d-flex justify-content-end my-2 px-2 ">
            <button type="button" class="btn mx-2" id="update" style="background-color:#AA7FC6;color:white">Update</button>
            <button type="button" class="btn " id="delete" style="background-color:#86C5D8;color:white">Remove</button>
        </div>
    </div>
</form>
<script>

    $(function () {

        $("#update").click(function () {


            if ($("#title").val() == "" || $("#description").val() == "" || $("#brand").val() == "" || $("#price").val() == "" || $("#rating").val() == "" || $("#stock").val() == "" || $("#imgLink").val() == "" || $("#categoryId").val() == "" || $("#categoryId").val() == null) {
                notificationAlert("danger", "ERROR!!!", "Please make sure all fields are filled properly!!!")
            }


            else {

                var data =
                {
                    Id: $("#id").val(),
                    Title: $("#title").val(),
                    Description: $("#description").val(),
                    Brand: $("#brand").val(),
                    Price: $("#price").val(),
                    Rating: $("#rating").val(),
                    Stock: $("#stock").val(),
                    ImgLink: $("#imgLink").val(),
                    CategoryId: $("#categoryId").val()
                };

                $.ajax({
                    url: '@Url.Action("EditProduct","AdminProduct")',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (json) {
                        window.location.href = "/AdminProduct/List/";
                    },
                    error: function (e) {

                    }
                });


            }


        });

        $("#delete").click(function () {

            var data =
            {
                Id: $("#id").val(),
                IsDeleted: $("#isDeleted").val()
            };

            $.ajax({
                url: '@Url.Action("Delete","AdminProduct")',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    debugger
                    if (result) {
                        window.location.href = "/AdminProduct/List/";
                    } else {
                        window.location.href = "/AdminProduct/Edit?id=" + data.Id;
                    }
                },
                error: function (xhr, status, error) {
                    // Hata durumunda ne yapılacağını belirleyin
                    console.log("Hata: " + error);

                }
            });
        });

    });

</script>
